:root {
    --underline : rgb(34, 247, 247);
    --primary-heading :rgb(14, 205, 205) ;
}

body {
    font-family: 'Rubik';
    overflow-x: hidden;
}

#headSofi {
    font-size: 200%;
    padding-top: 1rem;
    color: var(--primary-heading);
}

.nav-item {
    padding: 0 1.5rem;
}

.nav-link {
    color: var(--primary-heading);
}

.navbar-nav {
    padding-left: 51.8rem;
}

#navbarSupportedContent{
    font-size: 150%;
    transform: translateX(-9rem);
}

.nav-link:hover{
    color: #999999;
    font-weight: 600;
}

hr {
    border-style: dashed;
    border-color: grey;
    border-width: 2px;
    width: 97.5%;
}

.hrD{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-h1{
    position: absolute;
    top: 29%;
    left: 60%;
    font-size: 350%;
    line-height: 1.5;
}

.main-h1-1{
    display: block;
}

.main-h1-2{
    display: block;
}

.main-h1-3{
    display: block;
    text-decoration: underline var(--underline);
}

#imgAnime{
    animation: jump 3.5s infinite ease-in-out;  
}

#img{
    animation: rotate 10.5s infinite ease-in-out; 
}

#carousel-control-next-icon{
    background-color: black;
}

/* @keyframes jump {
    25% {
      transform: translateY(-90px) rotate(-25deg);
    }
    75% {
      transform: translateY(-90px) translateX(150px) rotate(25deg);
    }
    100% {
      transform: translateY(0);
    }
  }  */

.testimonials{
    margin-top: 5.8rem;
    padding-left: 3.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-block{
    margin: 4rem 0;
    padding: 1rem 12rem;
    text-align: center;
}

.end-btn{
    text-align: center  !important;
}

.uline {
    text-decoration: underline var(--underline);
}

.lect-h1 {
    text-align: center;
}